<form>
  <label for="username">Title</label>
  <input type="text" [(ngModel)]="post.title" name="title">
  <label for="email">Content</label>
  <textarea [(ngModel)]="post.content" name="content"></textarea>
  <label for="viewCount">View Count</label>
  <input type="number" [(ngModel)]="post.viewCount" name="viewCount">
  <label for="creationDate">Creation Date</label>
  <input type="date" [(ngModel)]="post.creationDate" name="creationDate">
  <label for="isPublished">Is Published?</label>
  <select [(ngModel)]="post.isPublished" name="isPublished">
    <option [value]="true">Published</option>
    <option [value]="false">Not Published</option>
  </select>
  <label for="user">User</label>
  <select [(ngModel)]="post.userId" name="user">
    <option *ngFor="let user of users" [value]="user.userId">{{ user.username }}</option>
  </select>
  <div>
    <button (click)="handleSaveClick()" type="submit">Save</button>
    <button (click)="handleCancelClick()" type="submit">Cancel</button>
  </div>
</form>