<form>
  <label for="postId">Post ID</label>
  <input type="number" [(ngModel)]="this.comment.postId" name="postId">
  <label for="userId">User ID</label>
  <input type="number" [(ngModel)]="this.comment.userId" name="userId">
  <label for="comment">Comment</label>
  <input type="text" [(ngModel)]="this.comment.comment" name="comment">
  <label for="creationDate">Creation Date</label>
  <input type="date" [(ngModel)]="this.comment.creationDate" name="creationDate">
  <label for="isConfirmed">Confirmed?</label>
  <select [(ngModel)]="this.comment.isConfirmed" name="isConfirmed">
    <option [value]="true">Confirmed</option>
    <option [value]="false">Not Confirmed</option>
  </select>
  <button (click)="handleAddComment()">Save</button>
  <button (click)="handleCancelAdd()">Cancel</button>
</form>
