<table>
  <thead>
    <tr>
      <th>Post ID</th>
      <th>Title</th>
      <th>View Count</th>
      <th>Creation Date</th>
      <th>Published?</th>
      <button [routerLink]="'/add-post'">Add Post</button>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td> {{ post.postId }} </td>
      <td> {{ post.title }} </td>
      <td> {{ post.viewCount }} </td>
      <td> {{ post.creationDate }} </td>
      <td> {{ post.isPublished }} </td>
      <app-button [buttonText]="'Detail'" [id]="post.postId" (onButtonClick)="handleDetailClick($event)"></app-button>
      <app-button [buttonText]="'Delete'" [id]="post.postId" (onButtonClick)="handleDeleteClick($event)"></app-button>
    </tr>
  </tbody>
</table>
