table {
  margin: auto;
  align-items: center;
  margin-top: 100px;
  font-family: 'Gill Sans', sans-serif;
  font-size: 15px;
  border: solid;
  border-color: rgb(0, 0, 0);
}

thead {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 93, 19);
  text-align: left;
  border: solid;
  border-color: rgb(0, 93, 19);
}

tr:nth-child(even) {
  background-color: rgb(25, 218, 0);
  color: rgb(0, 93, 19);
}