<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>E-mail</th>
      <th>Creation Date</th>
      <th>Active?</th>
      <a [routerLink]="'/add-user'"><button>Add User</button></a>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userId }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.creationDate | date }}</td>
      <td>{{ user.isActive }}</td>
      <td>
        <app-button [buttonText]="'Edit'" [id]="user.userId" (onButtonClick)="handleEditClick($event)"></app-button>
        <app-button [buttonText]="'Delete'" [id]="user.userId" (onButtonClick)="handleDeleteClick($event)"></app-button>
      </td>
    </tr>
  </tbody>
</table>


<form *ngIf="editMode">
  <label for="username">Username</label>
  <input type="text" [(ngModel)]="username" name="username">
  <label for="email">E-Mail</label>
  <input type="email" [(ngModel)]="email" name="email">
  <label for="creationDate">Creation Date</label>
  <input type="date" [(ngModel)]="creationDate" name="creationDate">
  <label for="isActive">User Active</label>
  <select [(ngModel)]="isActive" name="isActive">
    <option [value]="true">Active</option>
    <option [value]="false">Not Active</option>
  </select>
  <div>
    <button (click)="handleSaveClick()" type="submit">Save</button>
    <button (click)="handleCancelClick()" type="submit">Cancel</button>
  </div>
</form>