<form>
  <label for="username">Username</label>
  <input type="text" [(ngModel)]="user.username" name="username">
  <label for="email">e-Mail</label>
  <input type="text" [(ngModel)]="user.email" name="email">
  <label for="creationDate">Creation Date</label>
  <input type="date" [(ngModel)]="user.creationDate" name="creationDate">
  <label for="isActive">Is User Active?</label>
  <select [(ngModel)]="user.isActive" name="isActive">
    <option [value]="true">Yes</option>
    <option [value]="false">No</option>
  </select>
  <div>
    <button type="button" (click)="handleAddClick()">Add</button>
    <button type="button" (click)="handleCancelClick()">Cancel</button>
  </div>
</form>